/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {

}

h1 {

}

#rules {
  font-size: 1em;
  font-weight: bold;
}

#genji {
  font-size: 1.5em;
}

#One {
  color: white;
}

#Three {
  color: white;
}

#Five {
  color: white;
}

#Seven {
  color: white;
}

#Nine {
  color: white;
}

#Eleven {
  color: white;
}

#Thirteen {
  color: white;
}

#Fifthteen {
  color: white;
}

#Seventeen {
  color: white;
}

#Nineteen {
  color: white;
}
