/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {

}

h1 {
  font-family: Comic Sans MS,  sans-serif;
  color: red;
}


.headerClass {
  font-size: 2em;
  font-weight: bold;
  font-family: Comic Sans MS,  sans-serif;
  background-color: white;
  margin-bottom: 20px;
}
